{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/first": "off",
    "no-debugger": "off"
  },
  "settings": {
    "react": {
      "version": "detect", // React version. "detect" automatically picks the version you have installed.
    }
  },
  "extends": ["airbnb-base", "prettier", "plugin:react/recommended"]
}
